<table
  cedula="table"
  mat-table
  [dataSource]="dataSource"
  class="mat-elevation-z8"
>
  <ng-container matColumnDef="cedula">
    <th mat-header-cell *matHeaderCellDef>Cédula</th>
    <td mat-cell *matCellDef="let element">{{ element.cedula }}</td>
  </ng-container>

  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef>Nombre</th>
    <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
  </ng-container>

  <ng-container matColumnDef="apellido1">
    <th mat-header-cell *matHeaderCellDef>Primer apellido</th>
    <td mat-cell *matCellDef="let element">{{ element.apellido1 }}</td>
  </ng-container>

  <ng-container matColumnDef="apellido2">
    <th mat-header-cell *matHeaderCellDef>Segundo apellido</th>
    <td mat-cell *matCellDef="let element">{{ element.apellido2 }}</td>
  </ng-container>

  <ng-container matColumnDef="fechaNac">
    <th mat-header-cell *matHeaderCellDef>Fecha nacimiento</th>
    <td mat-cell *matCellDef="let element">{{ element.fechaNac }}</td>
  </ng-container>

  <ng-container matColumnDef="seleccionar">
    <th mat-header-cell *matHeaderCellDef>Seleccionar</th>
    <td mat-cell *matCellDef="let element">
      <button type="button" mat-raised-button class="btnAgregar">
        Seleccionar
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="mostrarEstudiantes"></tr>
  <tr mat-row *matRowDef="let row; columns: mostrarEstudiantes"></tr>
</table>
