.titulo {
    text-align: center;
    font-size: 36px;
    margin: 30px 0;
    color: black;
    font-weight: bold;
}



.btn-custom {
    margin-left: 600px;
    cursor: pointer;
    background-color: #222C61;
    border: none;
    border-radius: 8px;
    color: white;
    height: 40px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
    
  }
  
  .btn-custom:hover {
    background-color: #85837c;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    color: black;
  }

  .btnAgregar{
    cursor: pointer !important;
    color: white !important;
    background-color: red !important;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2) !important;
    transition: background-color 0.3s, box-shadow 0.3s, color 0.3s !important;
}

.btnAgregar:hover{
    background-color: black!important;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3) !important;
}