<p class="titulo">Estudiante</p>

<div class="d-flex justify-content-center">
    <div class="ml-3"> <!-- Agrega un margen a la izquierda para moverlo a la derecha -->
      <button class="btn btn-custom btn-lg" (click)="abrirEstudiante()" >
        <i class="fas fa-search"></i> Buscar Estudiantes
        
      </button> 
    </div>
  </div>

  <p class="titulo">Cursos</p>

  <div class="d-flex justify-content-center">
    <div class="ml-3"> <!-- Agrega un margen a la izquierda para moverlo a la derecha -->
      <button class="btn btn-custom btn-lg" (click)="abrirCursos()">
        <i class="fas fa-search"></i> Buscar Cursos
        
      </button>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <button mat-raised-button  class="btnAgregar mb-4 mt-4 " >Matricular</button>
  </div>